@page "/storysections/{SectionId:int}"
@using Model.Entities
@using Domain.Repositories.Interfaces
@inject IStorySectionRepository _storySectionRepository

<div class="container">
    @if (StorySection is not null) {
        <h1 class="display-5"><span class="text-warning">#@StorySection.Nr</span> @StorySection.Book.Title </h1>
        <div class="content-wrapper">
            @StorySection.Content
            <ul>
                @foreach (var outcome in StorySection.OutcomeList) {
                    <li>
                        @outcome.Content <a href="/storysections/@outcome.SectionId">@outcome.Section.Nr</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>

@code {
    [Parameter]
    public int SectionId { get; set; }

    public StorySection StorySection { get; set; }

    protected override async Task OnParametersSetAsync() {
        StorySection = await _storySectionRepository.ReadGraphAsync(SectionId);
    }
}